.main {
    background-color: white;

}
/* 
.nav-main {
    position: absolute;


}
.header-main {
    position: absolute;


}
.company-main {
    position: absolute;


}
.functional-main {
    position: absolute;


}
.team-main {
    position: absolute;


}
.clients-main {
    position: absolute;


} */







.image_38 {
    position: absolute;
    width: 471px;
    height: 419px;
    left: 807px;
    top: 738px;
}

.line-11 {
    position: absolute;
    width: 150px;
    height: 0px;
    left: 120px;
    top: 799px;
    color: #39c339;
    border-top: 1px dashed #8A6993;

    transform: rotate(-90deg);
}

.line-12 {
    position: absolute;
    width: 150px;
    height: 0px;
    left: 200px;
    top: 875px;

    border-top: 1px dashed #8A6993;
}

.ellipse-19 {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 194px;
    top: 872px;

    background: #8A6993;
    transform: rotate(180deg);
}

.ellipse-20 {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 350px;
    top: 873px;

    background: #8A6993;
    transform: rotate(180deg);
}

