.buttonSendMassage {

    width: 212px;
    height: 57px;

    background: #0D719B;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffff ;
    
}